:root {
    --md-code-font: 'FiraCode NF';
    --md-text-font: Georgia, 'Times New Roman', "Microsoft YaHei", "微软雅黑";
}
h2 {
    font-weight: 600;
    background: rgb(253,235,236)
}
h3 {
    /* color: #458d8c; */
    background: #ffffe0;
}
h4 {
    color: rgb(94, 159, 196)
}
.md-grid {
    max-width: 1300px; 
}